# Common IntelliJ Platform excludes

# User specific
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/*
.idea/dictionaries

# Rider
# Rider auto-generates .iml files, and contentModel.xml
*.iml
.idea/contentModel.xml
.idea/modules.xml